#Pet Hub Local Environment Configuration File

#Sure Pet Cloud Login to download configuration
CLOUDUSERNAME=**emailaddress**
CLOUDPASSWORD=**securelongpassword**

#Home Assistant MQTT Upstream configuration
HAMQTTIP=192.168.1.250
#HAMQTTUSERNAME=user
#HAMQTTPASSWORD=pass

#Bind IP Address if you want to bind to a specific IP, you need to have a : at the end of the IP
#BINDIP=192.168.1.251:
